<div class="pres-content-container">	
	<section class="pres-content">
		<h1>Agenda</h1>
		<ul>
			<li><span>What is EcmaScript</span></li>
			<li><span>How and whan can I use</span></li>
			<li><span>ECMAScript 6 Compatibility</span></li>
			<li><span>ECMAScript 6 features</span></li>
		</ul>
	</section>
	<section class="pres-content">
		<p>JavaScript is a superset of ECMAScript scripting language. ECMAScript forms the language base for JavaScript, JScript and ActionScript.
		ECMAScript 6, also known as ECMAScript 2015, is the latest version of the ECMAScript standard. ES6 is a significant update to the language, 
		and the first update to the language since ES5 was standardized in 2009. 
		ECMAScript 6, a new version of ECMAScript providing a new set features and fixes to JavaScript.
		</p>
		
	</section>
	
</div>