

/*------------------------------------*\
    $FONT-SIZES
\*------------------------------------*/
$base-font: 10px;

$h1-size:           4em;
$h2-size:           2em;
$h3-size:           1.8em;
$h4-size:           1.2em;
$h5-size:  			1em;


/*------------------------------------*\
    $FONT-Family
\*------------------------------------*/

$primary-font: "Georgia-Italic", Arial, "Lucida Grande", sans-serif;

/*------------------------------------*\
    Width
\*------------------------------------*/

$full-width:           100%;

/*------------------------------------*\
   Colors
\*------------------------------------*/

$white:             #fff;
$black:             #000;
$grey:				#ccc;